html {
	font-family: Arial, sans-serif;
	font-size: 2.5vw;
}

body{
	width:100vw;
	height:100vh;
	background-color:yellow;
}

p{
	margin-bottom:0;
	margin-top:1.5vw;
}

button{
	margin:1vw 0vw;
	background-color:white;
	border-style:solid;
}

input{
	margin: 0.5vw 0vw;
}

.par {
	display:inline-block;
	width:40%;
	height:90%;
	float:left;
	margin-left:20px;
	margin-top:20px;
}

h1{
	font-size: 4vw;
	margin:0;
}

.container {
	display:inline-block;
	float:left;
	width: 50%;
	height:90%;
	margin-top:20px;
	margin-right:20px;
	border-style:solid;
	background-color:white;
}

.box {
	float:left;
	position:relative;
	display:inline-block;
	margin:0;
}

